/* Soluzione qui */
@media all and (min-width:768px) {

  #topbar {
    justify-self: start;
  }

  main {

    padding: 50px;

  }

  .recipe-origin {

    display: block;
    margin: 0 8px;
  }

  .recipe-name {
    display: flex;

  }
}

-