/* Soluzione qui */
@media all and (min-width:768px) {

  #topbar {
    justify-self: start;
  }

  main {

    padding: 50px;

  }

  .recipe-origin {

    display: block;
    margin: 0 8px;
  }

  .recipe-name {
    display: flex;
    font-size: 2rem;

  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes li {
    width: calc(100% / 3);

  }

  .social-networks .btn {

    padding: 15px 50px;

  }

  .social-networks .btn i {
    font-size: 1rem;
  }

  .ads {
    display: block;
  }


  .presentation img {
    display: inline;
    float: left;
    margin-right: 20px;
  }


}

/* Soluzione qui */

@media all and (min-width:992px) {

  .recipe-name {
    font-size: 2.5rem;

  }

  .recipe-card {
    display: flex;
    justify-content: center;
  }

  .recipe-info {
    width: 40%;
  }

  .recipe-video {
    width: 90%;
    max-height: 420px;
    /* ecco la soluzione!!*/
  }


  .quick-notes ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .quick-notes li {
    width: auto;
  }

  .social-networks .label {

    display: block;
  }

  .social-networks .btn {
    display: flex;
  }

  .social-networks .btn i {
    margin-right: 2px;
  }


  footer {
    display: flex;
    justify-content: space-between;
  }

  address {
    text-align: left;
  }

}