/* Soluzione qui */
@media all and (min-width:768px) {

  #topbar {
    justify-self: start;
  }

  main {

    padding: 50px;

  }

  .recipe-origin {

    display: block;
    margin: 0 8px;
  }

  .recipe-name {
    display: flex;
    font-size: 2rem;

  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes li {
    width: calc(100% / 3);

  }

  .social-networks .btn {

    padding: 15px 50px;

  }

  .social-networks .btn i {
    font-size: 1rem;
  }

  .ads {
    display: block;
  }


  .presentation img {
    display: inline;
    float: left;
    margin-right: 20px;
  }


}

-